<!DOCTYPE html>
<html>
<head>
	<title>Django - Posts</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			{% for post in posts %}
			<div class="col-lg-4 offset-lg-4">
				<div class="media">
					<img class="mr-3 border rounded-circle" src="{{ post.picture }}">
					<div class="media-body">
						<h5 class="mt-0">{{ post.name }}</h5>
						{{ post.user }}
						{{ post.timestamp }}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>




